/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    line-height: 1; 
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
}

header { 
   position:relative; 
   top:0; 
   left:0;
   background-color:#ecf3d4;
   height:123px;
}

footer { 
   position:relative;
   bottom:0; 
   left:0;
   clear:both;
   background-color:#744918;

}

p { 
   font-size:12px; 
   font:Tahoma, Geneva, sans-serif; color:#222
}


h1 { 
   color:#582a06; 
   font-size:25px; 
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; 
   font-variant:small-caps;
}

h2 { 
   color:#582a06; 
   font-size:15px; 
   font-family:Verdana, Geneva, sans-serif; 
   font-variant:small-caps;
}


#site-header h1 a { 
  display:block;	
  text-indent:-9999px;    
  position:absolute;
  left: 100px;
  width:306px;
  height:123px;
  background:url(logo.png) no-repeat left top;
}

#top-nav {
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	top:0;
	right:0;
}

#top-nav a {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#744918;
}

#menu-wrapper {
	background-color:#630;
	height:30px;
}

#main-menu {
	padding-left:100px;
}

#main-menu ul {
	color:#FFF;	
}

#main-menu ul li {
	float:left;
	color:#FFF;
	padding:10px 10px;
}

#main-menu ul li a {
	color:#FFF;
	padding:10px 0 10px 0;
	text-decoration: none
}

#content {
	width:400px;
}

#page {
	float:left;
	margin:0 auto;
	width:400px;
}


#sidebar {
	float:right;
	width:200px;
}

#footer-wrapper {
	
}

footer h1 {
	color:#FFF;
	font:10px Arial, Helvetica, sans-serif
}

#footer-contact {
	float:left;
	width:100px;

}

#footer-follow {
	floar:right;
}
	
#sitefooter {
	position:absolute;
	clear:both;
}
